body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}
p {
  color: #444;
  font-size: 14px;
  line-height: 32px;
  margin: .7em 0;
}
ul {
  padding-left: 1.5rem;
  margin-top: 1rem;
}
li {
  margin: 0;
}
.section {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1.2rem;
  padding: .2rem 1.5rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}
.experiencia {
  font-size: 1rem;
  padding: 0.5em;
}
.html {
  color: #2196F3;
}
.css {
  color: #FF5722;
}
.js {
  color: #9C27B0;
}
.reactjs {
  color: #0055b1;
}

/* Página: Responsiva */
@media (max-width: 600px) {
  .section {
    padding: 1rem;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  p, li {
    font-size: 0.95rem;
  }
}
